body {

    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;

    background-color: white;
    background-position: top center;
    background-repeat: no-repeat;
    background-image: url(/img/775297_main.png);
    background-size: cover;
    
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

li {
    list-style: none;
}

.main-header-logo {
    margin-left: 40px;
}

.site-navigation {
    padding-left: 900px;
    margin-right: 160px;
    display: flex;
    justify-content: space-between;
    width: 30%;
    align-items: center;
    font-weight: bold;
    padding-top: 2px;
    margin-top: -50px;
}

.site-navigation a:hover,
.site-navigation a:focus {
color: #527eaf;
}

.text-title {
    padding-top: 130px;
    font-size: 70px;
    margin-left: 40px;
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 0.8px;
   -webkit-text-stroke-color: rgb(39, 38, 38);
}

.btn {
    margin-left: 40px;
    margin-top: 30px;

    font: 200px 100px;
    text-align: center;
    color: #ffffff;
    font-weight: 800;
    vertical-align: middle;
    font-size: 15px;

    background: rgb(131,75,29);
    background: linear-gradient(90deg, rgba(131,75,29,0.9979342078628326) 0%, rgba(73,29,9,1) 100%, rgba(238,234,230,1) 100%);
    border: none;
    border-radius: 25px;

    width: 150px;
    height: 50px;
}

.btn:hover {
    background-color: black;
    cursor: pointer;
}

.social {
    max-width: 100%;
    display: flex;
    padding-top: 25px;
    font-size: 16px;
    margin: 2px auto;
    max-width: 1238px;
    position: relative;
    margin-bottom: 50px;
    justify-content: right;
    line-height: 40px;
}

.modal-window-text {
    font-size: 40px;
    color: rgb(0, 0, 0);
}

form {
    display: block;
}

.call-us-form_wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 38px;
}

.call-us-label {
    color: rgb(0, 0, 0);
    padding-right: 30px;
    width: 360px;
    margin-right: 10px;
    font-weight: bold;
}

.call-us-input {
    margin-top: 12px;
}

.form-input {
    padding: 14px;
    width: 86%;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 16px;
    line-height: 18px;
    color: #444;
    border: 2px solid #d7dcde;
    border-radius: 3px;
}

.call-us {
    box-sizing: border-box;
    padding: 65px 100px 85px;
    width: 665px;
    min-height: 590px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 20px 40px rgb(0 0 0 / 40%);
    position: fixed;
    margin-left: 282px;
    backdrop-filter: blur(5px);
}

.modal {
    display: none;
    padding: 53px 51px 29px 50px;
    transform: translate(0%, -50%);
    top: 50%;
    left: 10%;
}

.modal-shows {
    display: block;
    animation: bounce 0.6s;
}

.modal-close {
    position: absolute;
    top: 35px;
    right: 35px;
    width: 22px;
    height: 22px;
    font-size: 0;
    border: 0;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

.modal-close::after {
    content: "";
    position: absolute;
    width: 19px;
    height: 3px;
    top: 10px;
    left: 2px;
    background-color: #e09595;
    transform: rotate(45deg);
}

.modal-close::before {
    content: "";
    position: absolute;
    width: 19px;
    height: 3px;
    top: 10px;
    left: 2px;
    background-color: #e09595;
    transform: rotate(-45deg);
}

.modal-button {
    margin-top: 30px;
    font: 200px 100px;
    text-align: center;
    color: #ffffff;
    font-weight: 800;
    vertical-align: middle;
    font-size: 15px;

    background: rgb(131,75,29);
    background: linear-gradient(90deg, rgba(131,75,29,0.9979342078628326) 0%, rgba(73,29,9,1) 100%, rgba(238,234,230,1) 100%);
    border: none;
    border-radius: 25px;

    width: 200px;
    height: 50px;
    cursor: pointer;
}

.blur {
    backdrop-filter: blur (5px);
}